
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MVC Music Store</h2>
<p>Welcome to our store!</p>

<ul>
    <li>@Html.ActionLink("Product 1", "Product", "Store", new { ProductName = "Product 1" }, null)</li>
    <li>@Html.ActionLink("Product 2", "Product", "Store", new { ProductName = "Product 2" }, null)</li>
    <li>@Html.ActionLink("Product 3", "Product", "Store", new { ProductName = "Product 3" }, null)</li>
</ul>

